body {
	background-color: #CFDBDF;
	font-family: 'Crimson Text', serif;
	font-size: 18px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none
}

.bold {
	font-weight: bold;
}

#all-products {
	/*margin-left: 100px;*/
}

.product-container {
	background: #fff;
	height: 100%;
	margin: 15px 0px 15px 30px;
	-o-box-shadow: 3px 3px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

	.product-name {
		height: 50px;
	}

	.product-img {
		text-align: center;
		margin: 10px auto;
	}

	.product-img img {
		width: 100px;
	}

.single {
	margin: 0px;
}

.info {
	margin: 30px;
}

.single-img {
	text-align: center;
	margin: 20px auto;
}