body {
	background-color: #CFDBDF;
	font-family: 'Crimson Text', serif;
	font-size: 18px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none
}

.bold {
	font-weight: bold;
}

a, a:hover, .btn, .btn:hover, .product-container, .product-container:hover{
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


/* PRODUCTS */

.product-container {
	background: #fff;
	height: 100%;
	margin: 15px 0px 15px 30px;
	-o-box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

.product-container:hover {
	color: #000;
	background: #EAEAEA;
}

.product-name {
	height: 50px;
}

.product-img {
	text-align: center;
	margin: 10px auto;
}
	.product-img img {
		height: 100px;
	}



/* SHOW */

.single {
	margin: 15px 0px;
}

.single:hover {
	background: #fff;
}

.info {
	margin: 30px;
}

.single-img {
	text-align: center;
	margin: 20px auto;
}
	.single-img img {
	max-width: 500px;
	}	


/* CREATE */

.form {
	margin: 15px auto;
}

.btn {
	font-family: 'Open Sans', sans-serif;
}