body {
	background-color: #EAEAEA;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/*box-sizing: border-box;*/

}

h1 {
	font-family: 'Neuton', serif;
	font-weight: bold;
}

h2 {
	font-family: 'Georgia', serif;
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-family: 'Georgia', serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none
}

.bold {
	font-weight: bold;
}

a, a:hover, .btn, .btn:hover, .product-container, .product-container:hover{
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.alert {
	padding-left: 25px;
}


/* MASTER */

.navbar-default {
	background: #000;
	border: none;
	border-radius: 0px;
	color: #EAEAEA;
	-o-box-shadow: 0px 1px 2px #bbb;
	-moz-box-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 1px 2px #bbb;
	box-shadow: 0px 1px 2px #bbb;
}

	.navbar-default .navbar-nav li a{
		color: #EAEAEA;
		background: none;
	}
	.navbar-default .navbar-nav li a:focus, 
	.navbar-default .navbar-nav li a:active, 
	.navbar-default .navbar-nav li a:hover {
		color: #999;
	}
	
	.navbar-default .navbar-brand {
		color: #5CE0E5;
	}
		.navbar-default .navbar-brand:hover {
			color: #5CE0E5;
		}

	.navbar-default .navbar-nav>.open>a,
	 .navbar-default .navbar-nav>.open>a:focus,
	  .navbar-default .navbar-nav>.open>a:hover {
		background-color: #000;
		color: #EAEAEA;
	}

.dropdown-menu {
	background: #000;
}

#content {
	margin-top: 50px;
	padding-left: 0px;
}


/* PRODUCTS */

.product-container {
	background: #fff;
	margin: 16px 0px;
	padding: 20px;
	-o-box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

.product-container:hover {
	color: #000;
	background: #F8F8F8;
	box-shadow: 1px 1px 1px #888;
}

.product-name {
	height: 50px;
}

.product-img {
	text-align: center;
	margin: 10px auto;
}
	.product-img img {
		height: 130px;
		max-width: 100%;
	}

.edit_btn {
	position: justify;
	float: right;
}

.label-info {
  background-color: #5CE0E5;
}

.btn-default {
  color: #fff;
  background-color: #444;
  border-color: #000;
}
	.btn-default:hover {
	  color: #fff;
	  background-color: #222;
	  border-color: #000;
	}




/* SHOW */

.single {
	margin: 15px 0px;
}

.single:hover {
	background: #fff;
}

.info {
	margin: 30px;
}

.single-img {
	text-align: center;
	margin: 20px auto;
}
	.single-img img {
	max-width: 500px;
	max-height: 400px;
	}	

.similar {
	float: left;
	margin: 5px;
	text-align: center;
	overflow: hidden;
}
	.similar img {
		height: 75px;
	}


/* CREATE */

.form {
	margin: 15px auto;
}

.btn {
	font-family: 'Open Sans', sans-serif;
}


/* EDIT */

.thumb {
	width: 100px;
}

/* TABLE ADMIN & CATEGORY */

table{
    width: 100%;
}

th, td {
    padding: 5px;
}

td{
    width: 30%;
}

td a{
    width: 30%;
}

